table {
    table-layout: fixed;
    margin-top: 40px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px 0 8px 0;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px 0 8px 0;
    height: 300px;
}
